
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
/coverage


/node_modules


npm-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.idea/
*.iml


.project
.classpath
.settings/
.factorypath


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/


.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
*.tmp
*.bak
*~


.DS_Store
Thumbs.db
desktop.ini

src/environments/environment*.ts
.env
